<ng-container *ngIf="appLoaded === 'LOADING'">
    <div class="app-loading-page-container">
        <div class="app-loading-page-main">
            <div class="app-loading-page-logo">
                <img [src]="logoUrl" [alt]="clientfullname">
            </div>
            <div class="app-loading-page-info">
                <div class="app-loading-page-loading-content">
                    <div class="app-loading-page-icon">
                        <fa-icon icon="spinner" size="2x" [spin]="true"></fa-icon>
                    </div>
                    <div class="app-loading-page-text">
                        <p *ngIf="messagesLoaded">
                            {{'AD_GlobalLoading' | translate}}
                        </p>
                        <p *ngIf="!messagesLoaded">
                            Loading ....
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="appLoaded === 'LOAD_FAIL'">
    <div class="app-loading-page-container">
        <div class="app-loading-page-main">
            <div class="app-loading-page-logo">
                <img [src]="logoUrl" [alt]="clientfullname">
            </div>
            <div class="app-loading-page-info">
                <div class="app-loading-page-alert">
                    <div class="app-loading-page-alert-content">
                        <div>
                            <span *ngIf="messagesLoaded">
                                {{'AD_GlobalServerConnectionError' | translate}}
                            </span>
                            <span *ngIf="!messagesLoaded">
                                No se ha podido conectar con el servidor / Could not connect to server
                            </span>
                        </div>
                        <div class="app-loading-page-icon">
                            <fa-icon icon="minus-circle" size="2x"></fa-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="appLoaded === 'LOAD_COMPLETED'">
    <router-outlet></router-outlet>
</ng-container>
