/***********************************
 * Grid form specifications
 ***********************************/

.fw-fields-row-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 0px;
}

/***********************************
 * Grid area definition
 ***********************************/
.fw-fields-area-1 {
    grid-area: area1
}

.fw-fields-area-2 {
    grid-area: area2
}

.fw-fields-area-3 {
    grid-area: area3
}

.fw-fields-area-4 {
    grid-area: area4
}

.fw-fields-area-5 {
    grid-area: area5
}

.fw-fields-area-6 {
    grid-area: area6
}

/***********************************
 * 6 Columns
 ***********************************/
.fw-fields-w6_1-2-3-4-5-6 {
    grid-template-areas: "area1 area2 area3 area4 area5 area6";
}

.fw-fields-w6_1-2-2-4-5-6 {
    grid-template-areas: "area1 area2 area2 area4 area5 area6";
}

.fw-fields-w6_1-2-2-2-5-6 {
    grid-template-areas: "area1 area2 area2 area2 area5 area6";
}

.fw-fields-w6_1-2-2-2-2-6 {
    grid-template-areas: "area1 area2 area2 area2 area2 area6";
}

.fw-fields-w6_1-2-2-2-2-2 {
    grid-template-areas: "area1 area2 area2 area2 area2 area2";
}

.fw-fields-w6_1-2-3-3-5-6 {
    grid-template-areas: "area1 area2 area3 area3 area5 area6";
}

.fw-fields-w6_1-2-3-3-3-6 {
    grid-template-areas: "area1 area2 area3 area3 area3 area6";
}

.fw-fields-w6_1-2-3-3-3-3 {
    grid-template-areas: "area1 area2 area3 area3 area3 area3";
}

.fw-fields-w6_1-2-3-4-4-6 {
    grid-template-areas: "area1 area2 area3 area4 area4 area6";
}

.fw-fields-w6_1-2-3-4-4-4 {
    grid-template-areas: "area1 area2 area3 area4 area4 area4";
}

.fw-fields-w6_1-2-3-4-5-5 {
    grid-template-areas: "area1 area2 area3 area4 area5 area5";
}

.fw-fields-w6_1-1-3-4-5-6 {
    grid-template-areas: "area1 area1 area3 area4 area5 area6";
}

.fw-fields-w6_1-1-3-3-5-6 {
    grid-template-areas: "area1 area1 area3 area3 area5 area6";
}

.fw-fields-w6_1-1-3-3-3-6 {
    grid-template-areas: "area1 area1 area3 area3 area3 area6";
}

.fw-fields-w6_1-1-3-3-3-3 {
    grid-template-areas: "area1 area1 area3 area3 area3 area3";
}

.fw-fields-w6_1-1-1-4-5-6 {
    grid-template-areas: "area1 area1 area1 area4 area5 area6";
}

.fw-fields-w6_1-1-1-4-4-6 {
    grid-template-areas: "area1 area1 area1 area4 area4 area6";
}

.fw-fields-w6_1-1-1-4-4-4 {
    grid-template-areas: "area1 area1 area1 area4 area4 area4";
}

.fw-fields-w6_1-1-1-1-5-6 {
    grid-template-areas: "area1 area1 area1 area1 area5 area6";
}

.fw-fields-w6_1-1-1-1-5-5 {
    grid-template-areas: "area1 area1 area1 area1 area5 area5";
}

.fw-fields-w6_1-1-1-1-1-6 {
    grid-template-areas: "area1 area1 area1 area1 area1 area6";
}

.fw-fields-w6_1-1-1-1-1-1 {
    grid-template-areas: "area1 area1 area1 area1 area1 area1";
}

/***********************************
 * 5 Columns
 ***********************************/
.fw-fields-w5_1-2-3-4-5 {
    grid-template-areas: "area1 area2 area3 area4 area5";
}

.fw-fields-w5_1-2-2-4-5 {
    grid-template-areas: "area1 area2 area2 area4 area5";
}

.fw-fields-w5_1-2-2-2-5 {
    grid-template-areas: "area1 area2 area2 area2 area5";
}

.fw-fields-w5_1-2-2-2-2 {
    grid-template-areas: "area1 area2 area2 area2 area2";
}

.fw-fields-w5_1-2-3-3-5 {
    grid-template-areas: "area1 area2 area3 area3 area5";
}

.fw-fields-w5_1-2-3-3-3 {
    grid-template-areas: "area1 area2 area3 area3 area3";
}

.fw-fields-w5_1-2-3-4-4 {
    grid-template-areas: "area1 area2 area3 area4 area4";
}

.fw-fields-w5_1-1-3-4-5 {
    grid-template-areas: "area1 area1 area3 area4 area5";
}

.fw-fields-w5_1-1-3-3-5 {
    grid-template-areas: "area1 area1 area3 area3 area5";
}

.fw-fields-w5_1-1-3-3-3 {
    grid-template-areas: "area1 area1 area3 area3 area3";
}

.fw-fields-w5_1-1-1-4-5 {
    grid-template-areas: "area1 area1 area1 area4 area5";
}

.fw-fields-w5_1-1-1-4-4 {
    grid-template-areas: "area1 area1 area1 area4 area4";
}

.fw-fields-w5_1-1-1-1-5 {
    grid-template-areas: "area1 area1 area1 area1 area5";
}

.fw-fields-w5_1-1-1-1-1 {
    grid-template-areas: "area1 area1 area1 area1 area1";
}

/***********************************
 * 4 Columns
 ***********************************/
.fw-fields-w4_1-2-3-4 {
    grid-template-areas: "area1 area2 area3 area4";
}

.fw-fields-w4_1-2-2-4 {
    grid-template-areas: "area1 area2 area2 area4";
}

.fw-fields-w4_1-2-2-2 {
    grid-template-areas: "area1 area2 area2 area2";
}

.fw-fields-w4_1-2-3-3 {
    grid-template-areas: "area1 area2 area3 area3";
}

.fw-fields-w4_1-1-3-4 {
    grid-template-areas: "area1 area1 area3 area4";
}

.fw-fields-w4_1-1-3-3 {
    grid-template-areas: "area1 area1 area3 area3";
}

.fw-fields-w4_1-1-1-4 {
    grid-template-areas: "area1 area1 area1 area4";
}

.fw-fields-w4_1-1-1-1 {
    grid-template-areas: "area1 area1 area1 area1";
}

/***********************************
 * 3 Columns
 ***********************************/
.fw-fields-w3_1-2-3 {
    grid-template-areas: "area1 area2 area3";
}

.fw-fields-w3_1-2-2 {
    grid-template-areas: "area1 area2 area2";
}

.fw-fields-w3_1-1-3 {
    grid-template-areas: "area1 area1 area3";
}

.fw-fields-w3_1-1-1 {
    grid-template-areas: "area1 area1 area1";
}

/***********************************
 * 2 Columns
 ***********************************/
.fw-fields-w2_1-2 {
    grid-template-areas: "area1 area2";
}

.fw-fields-w2_1-1 {
    grid-template-areas: "area1 area1";
}

/***********************************
 * 1 Columns
 ***********************************/
.fw-fields-w1_1 {
    grid-template-areas: "area1";
}

.fw-fields {
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
    /* 6 Columns */
    .fw-fields-w6_1-2-3-4-5-6, .fw-fields-w6_1-2-2-4-5-6, .fw-fields-w6_1-2-2-2-5-6, .fw-fields-w6_1-2-2-2-2-6, .fw-fields-w6_1-2-2-2-2-2,
    .fw-fields-w6_1-2-3-3-5-6, .fw-fields-w6_1-2-3-3-3-6, .fw-fields-w6_1-2-3-3-3-3,
    .fw-fields-w6_1-2-3-4-4-6, .fw-fields-w6_1-2-3-4-4-4,
    .fw-fields-w6_1-2-3-4-5-5,
    .fw-fields-w6_1-1-3-4-5-6, .fw-fields-w6_1-1-3-3-5-6, .fw-fields-w6_1-1-3-3-3-6, .fw-fields-w6_1-1-3-3-3-3,
    .fw-fields-w6_1-1-1-4-5-6, .fw-fields-w6_1-1-1-4-4-6, .fw-fields-w6_1-1-1-4-4-4,
    .fw-fields-w6_1-1-1-1-5-6, .fw-fields-w6_1-1-1-1-5-5, .fw-fields-w6_1-1-1-1-1-6, .fw-fields-w6_1-1-1-1-1-1,
        /* 5 Columns */
    .fw-fields-w5_1-2-3-4-5, .fw-fields-w5_1-2-2-4-5, .fw-fields-w5_1-2-2-2-5, .fw-fields-w5_1-2-2-2-2,
    .fw-fields-w5_1-2-3-3-5, .fw-fields-w5_1-2-3-3-3,
    .fw-fields-w5_1-2-3-4-4,
    .fw-fields-w5_1-1-3-4-5, .fw-fields-w5_1-1-3-3-5, .fw-fields-w5_1-1-3-3-3,
    .fw-fields-w5_1-1-1-4-5, .fw-fields-w5_1-1-1-4-4,
    .fw-fields-w5_1-1-1-1-5, .fw-fields-w5_1-1-1-1-1,
        /* 4 Columns */
    .fw-fields-w4_1-2-3-4, .fw-fields-w4_1-2-2-4, .fw-fields-w4_1-2-2-2,
    .fw-fields-w4_1-2-3-3,
    .fw-fields-w4_1-2-3-4,
    .fw-fields-w4_1-1-3-4, .fw-fields-w4_1-1-3-3,
    .fw-fields-w4_1-1-1-4,
    .fw-fields-w4_1-1-1-1,
        /* 3 Columns */
    .fw-fields-w3_1-2-3, .fw-fields-w3_1-2-2,
    .fw-fields-w3_1-1-3,
    .fw-fields-w3_1-1-1,
        /* 2 Columns */
    .fw-fields-w2_1-2, .fw-fields-w2_1-1,
        /* 1 Columns */
    .fw-fields-w1_1 {
        grid-template-columns: 1fr !important;
        grid-template-areas: none !important;
    }

    .fw-fields {
        grid-area: inherit !important;
    }
}

