/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/************************************************************
 * Scroll bars
 ************************************************************/
::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    overflow: scroll;
    background: lightgray;
    box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

button:focus {
    outline: none !important;
}

/*------------------------
 * Helper classes
 *------------------------*/

.fw-pull-left {
    float: left;
}

.fw-pull-right {
    float: right;
}

.fw-pull-clear {
    clear: both;
}

.fw-editor-cursor {
    cursor: pointer;
}

.fw-field-read-only {
    color: #acacac !important;
}

.fw-datatable-image {
    width: 9rem;
    margin: 0.3rem;
}

.fw-text-left {
    text-align: left;
}

.fw-text-center {
    text-align: center;
}

.fw-text-right {
    text-align: right;
}

.fw-text-padding-left {
    padding-left: 1rem;
}

.fw-text-padding-right {
    padding-right: 1rem;
}


/************************************************************
 * Application loading page (app-loading-page)
 ************************************************************/
.app-loading-page-container {
    width: 100%;
    height: 100%;
    background: #031425;
}

.app-loading-page-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-top: 30%;
}

.app-loading-page-logo {
    width: 20rem;
    margin: 0 auto;
    padding: 3rem 0;
    order: 1;
}

.app-loading-page-logo img {
    width: 100%;
}

.app-loading-page-info {
    width: 50%;
    margin: 0 auto;
    color: whitesmoke;
    text-align: center;
    order: 2;
}

.app-loading-page-alert {
    border-radius: 10px;
    background-color: #d01509;
    padding: 1rem;
    box-shadow: 1px 1px 5px #17829a;
}

.app-loading-page-alert-content {
    display: grid;
    grid-template-columns: 1fr 3rem;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.app-loading-page-text {
    line-height: 2rem;
}

.app-loading-page-loading-content {
    display: grid;
    grid-template-columns: 2rem 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    width: 10rem;
    margin: 0 auto;
    text-align: left;
}

/************************************************************
 * Login page (app-login-layout)
 ************************************************************/
.app-login-layout-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6rem 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100%;
}

.app-login-layout-header .mat-toolbar {
    height: 100%;
}

.app-login-layout-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 0px;
    height: 100%;
}

.app-login-layout-form-container {
    max-width: 25rem;
    width: 90%;
    margin: 3rem auto;
}

.app-login-layout-form-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0.5rem;
    margin-top: 1rem;
}

.app-login-layout-form-container .mat-card-actions {
    text-align: right;
}

.app-login-layout-form-link {
    cursor: pointer;
}

.app-login-layout-form-link:hover {
    text-decoration: underline;
}

/************************************************************
 * Application layout (app-layout)
 ************************************************************/
.app-layout-main-container {
}

.app-layout-header-toolbar {
    display: grid;
    grid-template-columns: 3rem 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
}

.app-layout-header-toolbar.right {
    grid-template-columns: 1fr 3rem;
}

.app-layout-header-toolbar-menuicon {
    order: 0;
}

.app-layout-header-toolbar-content {
    order: 1;
}

.app-layout-header-toolbar-menuicon.right {
    order: 1;
}

.app-layout-header-toolbar-content.right {
    order: 0;
}

.app-layout-header-toolbar .uiux-header-container {
    display: grid;
    grid-template-columns: 14rem 1fr 18rem;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.app-layout-header-toolbar .uiux-header-container-static {
    grid-template-columns: 1fr 18rem !important;
}

.side-menu-container .header-logo {
    height: 3rem;
    margin-left: 0.5rem;
}

.app-layout-header-toolbar .header-logo {
    height: 2.5rem;
    margin-left: 0.5rem;
}

.app-layout-sidenav-container {
}

.app-layout-sidenav {
    width: 18rem;
}

.app-layout-sidenav-toolbar-fixed {
    top: 4rem !important;
}

.app-layout-sidenav-footer-fixed {
    bottom: 2rem !important;
}

.app-layout-user-profile-sidenav {
    width: 24rem;
}

.app-layout-sidenav-content {
    height: 100vh !important;
}

.app-layout-sidenav-content-fixed {
    height: calc(100vh - 6rem) !important;
    overflow: auto;
}

.app-layout-sidenav-content-toolbar-fixed {
    height: calc(100vh - 4rem) !important;
    overflow: auto;
}

.app-layout-sidenav-content-footer-fixed {
    height: calc(100vh - 2rem) !important;
    overflow: auto;
}

/*------------------------------
 * Global styles for buttons
 *------------------------------*/

.fw-form-content-actions-left {
    float: left;
    margin-right: 0.5rem !important;
}

.fw-form-content-actions-right {
    float: right;
    margin-left: 0.5rem !important;
}
